<div class="row my-2">
    <div class="col-md-8 col-sm-12">
        <h1>All products</h1>
    </div>
    <div class="col-md-4 col-sm-12">
        <button class="btn pull-right" routerLink="create">Add product <i class="bi bi-plus-lg"></i></button>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12 mb-4" *ngFor="let product of products">
        <div class="card">
            <img class="card-img-top" src="{{ product.picture }}" alt="{{ product.name }}">
            <div class="card-body">
                <h6 class="card-title"><b>{{ product.brand }}</b> - <a routerLink="../categories/{{ product.category._id }}">{{ product.category.title }} <img class="pb-1" src="{{ product.category.icon }}" width="15" /></a></h6>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">€{{ product.price }}</p>
                <a routerLink="{{ product._id }}" class="btn">Details <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>