<button class="btn btn-primary m-2" routerLink="create">Add</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Picture</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Brand</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products$ | async">
            <th><a routerLink="{{ product._id }}">{{ product._id }}</a></th>
            <td>{{ product.name }}</td>
            <td><img src="{{ product.picture }}" width="100" /></td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.brand }}</td>
        </tr>
    </tbody>
</table>
