<div class="row mb-4">
    <div class="col-md-12 col-sm-12">
        <h1 *ngIf="categoryExists === true">Edit {{ categoryTitle }}</h1>
        <h1 *ngIf="categoryExists === false">Create new category</h1>
        <form *ngIf="!categoryCreated" #categoryForm="ngForm" class="my-5" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <label class="form-label col-md-4 col-sm-12 col-form-label">Title</label>
                <div class="col-md-8 col-sm-12">
                    <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="category!.title" required [ngClass]="{'is-invalid': title.invalid && title.touched}">
                    <div *ngIf="title.invalid && title.touched" class="invalid-feedback">
                        <div *ngIf="title.errors!['required']">
                            Title is required!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-md-4 col-sm-12 col-form-label">Description</label>
                <div class="col-md-8 col-sm-12">
                    <textarea type="text" class="form-control" name="description" #description="ngModel" [(ngModel)]="category!.description" rows="5" required [ngClass]="{'is-invalid': description.invalid && description.touched}"></textarea>
                    <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
                        <div *ngIf="description.errors!['required']">
                            Description is required!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-md-4 col-sm-12 col-form-label">Icon</label>
                <div class="col-md-8 col-sm-12">
                    <input type="text" class="form-control" name="icon" #icon="ngModel" [(ngModel)]="category!.icon" required min="0" [ngClass]="{'is-invalid': icon.invalid && icon.touched}">
                    <small><i><a href="https://www.flaticon.com/free-icons/clothes" target="_blank">https://www.flaticon.com/free-icons/clothes</a></i></small>
                    <div *ngIf="icon.invalid && icon.touched" class="invalid-feedback">
                        <div *ngIf="icon.errors!['required']">
                            Icon is required!
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="categoryExists === false" type="submit" [disabled]="!categoryForm.valid" class="btn pull-right">Submit</button>
            <button *ngIf="categoryExists === true" type="submit" [disabled]="!categoryForm.valid" class="btn pull-right">Update</button>
        </form>
        <div *ngIf="categoryCreated" class="alert alert-success mt-5" role="alert">
            You've created a new category!
        </div>
    </div>
</div>