<h1 *ngIf="categoryExists === true">Edit {{ categoryTitle }}</h1>
<h1 *ngIf="categoryExists === false">Create new category</h1>

<div class="row mb-4">
    <div class="col-md-6 col-sm-12">
        <form #categoryForm="ngForm" class="my-5" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <label class="form-label col-md-4 col-sm-12 col-form-label">Title</label>
                <div class="col-md-8 col-sm-12">
                    <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="category!.title" required [ngClass]="{'is-invalid': title.invalid && title.touched}">
                    <div *ngIf="title.invalid && title.touched" class="invalid-feedback">
                        <div *ngIf="title.errors!['required']">
                            Title is required!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-md-4 col-sm-12 col-form-label">Description</label>
                <div class="col-md-8 col-sm-12">
                    <textarea type="text" class="form-control" name="description" #description="ngModel" [(ngModel)]="category!.description" rows="5" required [ngClass]="{'is-invalid': description.invalid && description.touched}"></textarea>
                    <div *ngIf="description.invalid && description.touched" class="invalid-feedback">
                        <div *ngIf="description.errors!['required']">
                            Description is required!
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <label class="form-label col-md-4 col-sm-12 col-form-label">Icon</label>
                <div class="col-md-8 col-sm-12">
                    <input type="text" class="form-control" name="icon" #icon="ngModel" [(ngModel)]="category!.icon" required min="0" [ngClass]="{'is-invalid': icon.invalid && icon.touched}">
                    <div *ngIf="icon.invalid && icon.touched" class="invalid-feedback">
                        <div *ngIf="icon.errors!['required']">
                            Icon is required!
                        </div>
                    </div>
                </div>
            </div>
            <button *ngIf="categoryExists === false" type="submit" [disabled]="!categoryForm.valid" class="btn pull-right">Submit</button>
            <button *ngIf="categoryExists === true" type="submit" [disabled]="!categoryForm.valid" class="btn pull-right">Update</button>
        </form>
    </div>
    <div class="col-md-6 col-sm-12">
        <pre class="m-5">{{ category | json }}</pre>
    </div>
</div>