<div class="col-md-12">
    <div class="alert alert-primary" *ngIf="error" role="alert">
        {{ error }}
    </div>
</div>
<div *ngIf="product$ | async as product">
    <h1><b><a [routerLink]="['/', 'user', product?.createdBy?._id]">{{ product?.createdBy?.name }}</a></b> - {{ product?.name }}</h1>

    <div class="row">
        <div class="col-md-6 col-sm-12 mb-4">
            <div class="card">
                <img class="card-img-top" src="{{ product?.picture }}" alt="{{ product?.name }}">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title"><b><a [routerLink]="['/', 'user', product?.createdBy?._id]">{{ product?.createdBy?.name }}</a></b> - <a
                            routerLink="../../categories/{{ product?.category?._id }}">{{ product?.category?.title }}
                            <img class="pb-1" src="{{ product?.category?.icon?.icon }}" width="15" /></a></h6>
                    <h2 class="card-title">{{ product?.name }}</h2>
                    <p class="card-text"><b>Potential price</b> €{{ product?.price }}</p>
                    <p class="card-text">{{ product?.description }}</p>
                    <div *ngIf="loggedInUser?._id === product.createdBy._id">
                        <div *ngIf="advice$ | async as advice">
                            <p><b>Average rating</b> {{ advice.avg || 'No ratings yet!' }}</p>
                            <p><b>Advice</b> "{{ advice.advice }}"</p>
                        </div>
                    </div>
                    <i>The brand {{ product?.createdBy?.name }} is already {{ product?.createdBy?.age }} years one of the best brands out there!</i><br><br>
                    <small>Created at {{ product?.createdAt | date: 'dd/MM/yyyy' }}</small>
                    <div class="mt-3" *ngIf="loggedInUser as user">
                        <button class="btn" *ngIf="user._id === product?.createdBy?._id" routerLink="edit">Edit <i class="bi bi-pencil"></i></button>
                        <button class="btn mx-2" *ngIf="user._id === product?.createdBy?._id" (click)="delete()">Delete <i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <uc-app-comment-product></uc-app-comment-product>
</div>