<div class="row my-2">
    <div class="col-md-12 col-sm-12">
        <h1>All ratings</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-4 mb-4" *ngFor="let rating of ratings$ | async">
        <div class="card">
            <img class="card-img-top p-5" src="{{ rating.picture }}" alt="{{ rating.title }}" style="border-bottom: 1px solid rgba(0, 0, 0, 0.175);">
            <div class="card-body">
                <h5 class="card-title">{{ rating.title }}</h5>
                <p class="card-text">{{ rating.description }}</p>
                <p class="card-text"><b>Rating: </b>{{ rating.grade }}</p>
            </div>
        </div>
    </div>
</div>