<div class="row my-2">
    <div class="col-md-12">
        <div class="alert alert-primary" *ngIf="error" role="alert">
            {{ error }}
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <h3>All comments ({{ comments?.length || 0 }})</h3>
    </div>
    <div class="col-md-12 col-sm-12" *ngIf="loggedInUser$ | async as user">
        <button class="btn pull-right" *ngIf="user.role === 'customer'" routerLink="comment/create">Add comment <i
                class="bi bi-plus-lg"></i></button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 mb-4" *ngFor="let comment of comments">
        <div class="card">
            <div class="card-body">
                <img src="{{ comment.createdBy.picture }}" class="mr-5 rounded pull-left" width="150" style="object-fit: cover;">
                <h5 class="card-title">{{ comment.title }}</h5>
                <p class="card-text">{{ comment.body }}</p>
                <p class="card-text"><b>Rating </b>{{ comment.rating }}</p>
                <div *ngIf="loggedInUser$ | async as user">
                    <h6 class="card-title mb-3" *ngIf="user._id === comment?.createdBy?._id">Posted by <b><a
                                [routerLink]="['/', 'user', comment.createdBy._id]">You</a></b></h6>
                    <h6 class="card-title mb-3" *ngIf="user._id !== comment?.createdBy?._id">Posted by <b><a
                                [routerLink]="['/', 'user', comment.createdBy._id]">{{ comment.createdBy.name }}</a></b>
                    </h6>
                </div>
                <div *ngIf="(loggedInUser$ | async) === undefined">
                    <h6 class="card-title mb-3">Posted by <b><a [routerLink]="['/', 'user', comment.createdBy._id]">{{
                                comment.createdBy.name }}</a></b>
                    </h6>
                </div>
                <small>Posted at {{ comment.createdAt | date: 'dd/MM/yyyy' }}</small>
                <div class="pull-right" *ngIf="loggedInUser$ | async as user">
                    <button class="btn" *ngIf="user._id === comment?.createdBy?._id"
                        [routerLink]="['comment', comment._id, 'edit']">Edit <i class="bi bi-pencil"></i></button>
                    <button class="btn mx-2" *ngIf="user._id === comment?.createdBy?._id"
                        (click)="deleteComment(comment._id)">Delete <i class="bi bi-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>