<div class="row my-2">
    <div class="col-md-8 col-sm-12">
        <h1>All categories</h1>
    </div>
    <div class="col-md-4 col-sm-12" *ngIf="loggedInUser$ | async as user">
        <button class="btn pull-right" *ngIf="user.role === 'brand'" routerLink="create">Add category <i class="bi bi-plus-lg"></i></button>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-4 mb-4" *ngFor="let category of categories$ | async">
        <div class="card">
            <img class="card-img-top p-4" src="{{ category.icon }}" alt="{{ category.title }}" style="border-bottom: 1px solid rgba(0, 0, 0, 0.175);">
            <div class="card-body">
                <h5 class="card-title">{{ category.title }}</h5>
                <a routerLink="{{ category._id }}" class="btn form-control input-block-level">Details <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>