@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color: #fe6b02;
$secondary-color: #272c48;
$tertiary-color: #ffffff;

footer {
    font-family: 'Roboto', sans-serif;
    background-color: $secondary-color !important;
    border-top: 5px solid $primary-color;
    font-weight: 600;
    color: $primary-color !important;
    text-transform: uppercase;
}

span {
    color: $tertiary-color;
}